:root 
{
    --background-color: #186B7A;
    --background-button-color: #E9F7FA;
    --Ftxt-color: #186B7A;
    --Stxt-color: #E9F7FA;
    --btn-background-normal: #186b7a3f;
    --shadow-color: #DDD;
}
*
{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
li ,a,button
{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}
/* header start */
header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 60px;
    background-color: var(--background-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.logo
{
    cursor: pointer;
    margin-right: auto;
}
.logo a
{
    color: var(--Stxt-color);
    font-size: 30px;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3s ease 0s;
    color: var(--Stxt-color);
}
.nav_links li a:hover{
    color: red;
}
button
{
    padding: 9px 25px;
    background-color: var();
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover
{
    color: var(--Stxt-color);
    background-color: rgba(124, 153, 255, 0.95)
}
/* header end */
/* start section 1 */
.container-first
{
    margin-top: 20px;
    width: 70rem;
    height: 35rem;
    margin: 4rem auto;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 25px;
}
.container-first .card
{
    width: 250px;
    height: 500px;
    padding: 15px;
    background: linear-gradient(195.44deg, rgba(124, 153, 255, 0.95) 3.29%, rgba(0, 194, 255, 0.65) 100%);
border-radius: 10px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.3s ease 0s;
    margin: 2px;
}
.container-first .card:hover
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    transform: scale(1.01);
}
.container-first .benfits
{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.money
{
    transform: translateY(0px);
}
/* end section 1 */
/* footer start */
footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 30px 60px;
    padding-top: 20px;
    height: 20rem;
    background-color: var(--background-color);
}
.logo-fotter a
{
    color: var(--Stxt-color);
    font-size: 30px;
}
.location
{
    color: var(--Stxt-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 90px;
}
.location a
{
    color: var(--Stxt-color);
}
.links_one
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.links_one_items li
{
    margin: 30px;
}
.links_one_items a
{
    color: var(--Stxt-color);
}
.links_two
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.links_two li
{
    margin: 30px;
}
.links_two a
{
    color: var(--Stxt-color);
}
.links_one a,
.links_two a,
.footer-email a
{
    transition: all 0.3s ease 0s;
}
.links_one a:hover,
.links_two a:hover,
.footer-email a:hover
{
    color: black;
    cursor: pointer;
}

/* footer End */