:root 
{
    --background-color: #57b4e0;
    --background-page-color: white;
    --txt-color: #162034;
}
*
{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    box-sizing: border-box;
}
html
{
    font-family: "Poppins", sans-serif;
}
/* end */
.page
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    height: 753px;
    background-color: #2d928f;
    overflow: hidden;
}
.page .box
{
    width: 900px;
    height: 600px;
    border-radius: 2%;
    background: white;
    display: grid;
    grid-template-columns: 40% 60%;
    box-shadow: 10px 10px 10px rgb(0 0 0 / 50%);
}
.page .box .login-right
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page .box .login-right h2
{
    text-align: center;
    position: relative;
    top: -32px;
}
.page .box div.inputs
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page .box div.inputs input
{
    padding: 5px;
    margin: 10px;
    transition: 500ms ease-out;
    cursor: pointer;
    border-bottom: 1px solid #0a89b2;
    outline: none;
}
.page .box div.inputs input:hover
{
    background-color: var(--Dashboard-color);
    color: var(--txt-color);
}
.page .box div.inputs .buttons
{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap:9px;
}
.page .box div.inputs .buttons button
{
    padding: 10px;
    margin-left: 16px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #ddd;
    color: var(--txt-color);
    margin-top: 20px;
    transition: all 1s ease;
    width: 172.4px;
}
.page .box div.inputs .buttons button:hover
{
    background-color: #0a89b2;
    color: var(--background-page-color);
}
.signup a
{
    text-decoration: none;
    font-size: 10px;
    color: #0a89b2;
}
.sgin
{
    font-size: 14px;
    color: coral;
    transition: all 1s ease;
}
.sgin:hover
{
    font-size: 15px;
}
.page .box div.inputs .inputs a
{
    text-decoration: none;
    color: var(--txt-color);
}
.links
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    width: 220px;
}
.links a
{
    color: black;
}
.checkbox
{
    display: flex;
    align-items: center;
}
i{
    color: #0a89b2;
}
.login-left
{
    background: url(image/background3.png)no-repeat;
    background-size: 100% 100%;
    background-position: center; 
}